:root {
    --color1: #005862;
    --color2: rgba(0, 89, 99, 0.7);
    --color3: #00acb1;
    --color4: #00787b;
    --color5: #005963;
    --color6: #686a6f;
    --colorWhite: #fff;
    --colorBlack: #000;
    
    --fontSize1: 14px;
    --fontSize2: 16px;
    --fontSize3: 18px;
    --fontSize4: 20px;
    --fontSize5: 25px;
    --fontSize6: 30px;
    --fontSize7: 40px;
    --fontSize8: 50px;
    --fontSize9: 60px;
    --fontSize10: 70px;
    --fontSize11: 80px;
    --fontSize12: 90px;
    --fontSize13: 100px;
    
    --fontWeight1: 100;
    --fontWeight2: 200;
    --fontWeight3: 300;
    --fontWeight4: 400;
    --fontWeight5: 500;
    --fontWeight6: 600;
    --fontWeight7: 700;
    --fontWeight8: 800;
    --fontWeight9: 900;
    
    --fontFamily1: 'Open Sans', sans-serif;
    --fontFamily2: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, p {
    font-family: var(--fontFamily1);
}
a {
    display: inline-block;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.img-100 {
    width: 100%;
    height: auto;
}
.row {
    margin-right: 0px;
}
.container-fluid {
    padding: 0px 75px;
}
.nav-top {
    background: var(--color1);
    position: relative;
}
.info {
    padding: 0px;
}
.nav-top svg {
    width: 16px;
    height: 16px;
    fill: var(--colorWhite);
}
.nav-top .col-lg-6 a {
    text-decoration: none;
    color: var(--colorWhite);
    padding: 12px 5px;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
}
.nav-top .text-end svg {
    position: relative!important;
    margin-right: 20px;
}
.navbar {
    background: var(--color2);
    position: fixed;
    top: 45px;
    z-index: 9999;
    width: 100%;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar.active {
    background: var(--color1);
    top: 0px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar ul {
    margin-left: auto;
    margin-right: auto;
}
.navbar ul li a {
    text-decoration: none;
    color: var(--colorWhite);
    text-transform: uppercase;
    margin-right: 40px;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
}
.navbar ul li a:hover {
    color: var(--color3);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar .dropdown-menu {
    margin-left: 0px;
    margin-top: 32px;
    border-radius: 10px;
}
.navbar .dropdown-menu li:nth-child(1) {
    padding: 20px 0px;
    padding-right: 100px;
    border-bottom: rgba(0, 89, 99, 0.1) solid 0.5px;
}
.navbar .dropdown-menu li:nth-child(2) {
    padding: 20px 0px;
    border-bottom: var(--colorBlack) solid 0px;
}
.navbar .dropdown-menu li a {
    margin-left: 10px;
    margin-right: 0px;
    padding-right: 100px;
    color: var(--color1);
    font-weight: var(--fontWeight4);
}
.navbar .btn-1 {
    text-decoration: none;
    color: var(--colorWhite);
    text-transform: uppercase;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight7);
    background-color: var(--color3);
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%)
}
.navbar .btn-1:hover {
    background-color: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
header {
    position: relative;
}
.bg {
    padding: 300px 0px;
    background-position: center center;
    text-align: center;
    background-size: cover;
}
header .container {
    position: relative;
    z-index: 2;
}
.bg-header {
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 172, 177, 0.2);
    width: 100%;
    height: 100%;
    z-index: 1;
}
header p {
    color: var(--colorWhite);
    font-size: var(--fontSize4);
    text-transform: capitalize;
    margin-bottom: 30px;
}
header h1 {
    color: var(--colorWhite);
    font-size: var(--fontSize10);
    text-transform: capitalize;
    font-weight: var(--fontWeight7);
    margin: 0px;
    padding: 0px 300px;
}
header .btn-2 {
    text-decoration: none;
    color: var(--colorWhite);
    text-transform: capitalize;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
    background-color: var(--color3);
    padding: 15px 30px;
    border-radius: 6px;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
    margin-right: 20px;
    margin-top: 30px;
}
header .btn-2:hover {
    background-color: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
header .btn-3 {
    text-decoration: none;
    color: var(--color3);
    text-transform: capitalize;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
    background-color: var(--colorWhite);
    padding: 15px 30px;
    border-radius: 6px;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
    margin-right: 20px;
    margin-top: 30px;
}
header .btn-3:hover {
    background-color: var(--color3);
    color: var(--colorWhite);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
.swiper-button-next:after {
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight9);
    color: var(--colorWhite);
    margin-right: 50px;
    background-color: var(--color3);
    padding: 15px 20px;
    border-radius: 50%;
}
.swiper-button-prev:after {
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight9);
    color: var(--colorWhite);
    margin-left: 50px;
    background-color: var(--color3);
    padding: 15px 20px;
    border-radius: 50%;
}
.section-1 .container {
    margin-top: 100px;
    margin-bottom: 100px;
}
.section-1 .col-lg-4 {
    border: rgba(0, 89, 99, 0.1) solid 0.5px;
    padding: 20px;
    margin-right: 20px;
    position: relative;
}
.section-1 .col-lg-4 h2 {
    font-size: var(--fontSize4);
    font-weight: var(--fontWeight7);
    color: var(--color1);
    margin: 40px 0px 20px 0px;
}
.section-1 .col-lg-4 p {
    font-size: var(--fontSize2);
    color: var(--color6);
}
.section-1 .col-lg-4 a {
    text-decoration: none;
    color: var(--color3);
    font-weight: var(--fontWeight7);
}
.section-1 .col-lg-4 a:hover {
    color: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
    display: block;
}
.section-1 .col-lg-4 svg {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    fill: var(--color3);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
.section-1 .col-lg-4 svg:hover {
    fill: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
.section-1 .icons {
    background-color: var(--colorWhite);
    display: inline-block;
    position: absolute;
    top: -45px;
    -webkit-box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
}
.section-1 .icons svg {
    margin: 0px;
    width: 80px;
    height: 80px;
    padding: 25px;
}
.section-2 {
    background: var(--color5) url('../img/pattern.png') center center no-repeat;
}
.section-2 .container {
    padding-top: 200px;
    padding-bottom: 150px;
}
.section-2 .col-lg-6:nth-child(1) {
    padding: 0px 95px;
}
.section-2 .col-lg-6 h2 {
    font-size: var(--fontSize9);
    font-weight: var(--fontWeight7);
    color: var(--colorWhite);
    text-transform: capitalize;
    margin-bottom: 25px;
}
.section-2 .col-lg-6 p {
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight5);
    color: var(--colorWhite);
}
.section-2 .col-lg-6 h3 {
    font-size: var(--fontSize5);
    font-weight: var(--fontWeight6);
    color: var(--colorWhite);
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-left: 65px;
    position: relative;
}
.section-2 .col-lg-6 .icon-1::before {
    content: "";
    background: url(../img/heart-pulse-solid.svg) center center no-repeat;
    position: absolute;
    height: 35px;
    width: 45px;
    left: -70px;
    bottom: -5px;
}
.section-2 .col-lg-6 .icon-2::before {
    content: "";
    background: url(../img/users-solid.svg) center center no-repeat;
    position: absolute;
    height: 35px;
    width: 45px;
    left: -70px;
    bottom: -5px;
}
.section-2 .col-lg-6 span {
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight3);
    color: var(--colorWhite);
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 65px;
}
.section-2 .col-lg-6 .first-photo{
    width: 65%;
}
.section-2 .col-lg-6:nth-child(2) {
    position: relative;
}
.section-2 .col-lg-6 .second-photo{
    width: 60%;
    position: absolute;
    left: 150px;
    bottom: 35px;
}
.section-3 {
    position: relative;
    top: -100px;
}
.numbers {
    background-color: var(--color3);
    padding: 40px 6px;
}

.section-3 .col-lg-3 span {
    color: var(--colorWhite);
    font-size: var(--fontSize8);
    font-weight: var(--fontWeight7);
    position: relative;
}
.section-3 .col-lg-3 p {
    color: var(--colorWhite);
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight5);
    margin-left: 15px;
}
.section-3 .col-lg-3 span::after {
    content: "";
    background: url(../img/plus-solid.svg) center center no-repeat;
    position: absolute;
    height: 35px;
    width: 45px;
    top: 20px;
}
.section-4 {
    background-color: #fcf7ff;
    padding-bottom: 400px;
    margin-top: -195px;
}
.section-4 .col-lg-12 {
    margin-top: 150px;
}
.section-4 .box {
    border: rgba(0, 89, 99, 0.1) solid 0.5px;
    background: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
.section-4 .box:hover {
    -webkit-box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
    background-color: var(--colorWhite);
}
.section-4 .under-box {
    padding: 30px;
}
.section-4 span, .section-6 span, .section-9 span, .section-10 span {
    color: var(--color3);
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight5);
    margin-bottom: 10px;
}
.section-4 h2, .section-9 h2, .section-10 h2 {
    color: var(--color5);
    font-size: var(--fontSize8);
    font-weight: var(--fontWeight7);
    margin-bottom: 50px;
    line-height: 1.8;
}
.section-4 .col-lg-4 a {
    text-decoration: none;
    color: var(--color3);
    font-weight: var(--fontWeight5);
    line-height: 1.8;
}
.section-4 .col-lg-4 a:hover {
    color: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
    display: block;
}
.section-4 .title-1 {
    color: var(--color5)!important;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-size: var(--fontSize4);
    font-weight: var(--fontWeight7)!important;
    margin-bottom: 10px;
}
.section-4 .title-1:hover {
    text-decoration: underline;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.section-4 p {
    line-height: 1.8;
}
.section-4 .col-lg-4 svg {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    fill: var(--color3);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
.section-4 .col-lg-4 svg:hover {
    fill: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
.section-5 {
    position: relative;
    top: -170px;
}
.section-5 .box-1 {
    background-color: var(--color3);
    border-radius: 10px;
    padding: 80px 50px;
    position: relative;
}
.section-5 .box-1 h4 {
    color: var(--colorWhite);
    font-size: var(--fontSize6);
    font-weight: var(--fontWeight7);
    margin-left: 50px;
}
.section-5 .box-1 h4::before {
    content: "";
    background: url(../img/envelope-regular.svg) center center no-repeat;
    position: absolute;
    height: 45px;
    width: 55px;
    top: 90px;
    left: 35px;
}
.section-5 .box-1 p {
    color: var(--colorWhite);
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight4);
}
.section-5 .box-1 input {
    background: transparent;
    border: solid 2px  var(--colorWhite);
    border-radius: 5px;
    padding: 10px;
    color: var(--colorWhite);
}
.section-5 .box-1 input::placeholder {
    color: var(--colorWhite);
}
.section-5 .box-2 {
    background-color: var(--colorWhite);
    padding: 20px 50px;
    position: relative;
    -webkit-box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -28px rgba(0, 0, 0, 1);
}
.section-5 .box-2 .col-lg-6 div {
    padding: 20px;
}
.section-6 .col-lg-4 h2 {
    color: var(--color5);
    font-size: var(--fontSize8);
    font-weight: var(--fontWeight7);
    margin-bottom: 50px;
    line-height: 1.8;
}
.section-6 .btn-1 {
    text-decoration: none;
    color: var(--colorWhite);
    text-transform: uppercase;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight7);
    background-color: var(--color3);
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%)
}
.section-6 .btn-1:hover {
    background-color: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.section-6 .steps .col-lg-4 {
    padding-left: 145px;
    position: relative;
}
.section-6 .steps .col-lg-4 h3 {
    font-size: var(--fontSize4);
    font-weight: var(--fontWeight7);
    color: var(--color1);
    position: relative;
    margin-bottom: 20px;
}
.section-6 .icons-2 {
    width: 110px;
    height: 110px;
    background-color: var(--colorWhite);
    border-radius: 6px;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 3%);
    position: relative;
    top: -175px;
    left: -135px;
}
.section-6 .steps {
    border-bottom: rgba(0, 89, 99, 0.1) solid 0.5px;
    height: 220px;
}
.section-6 .steps .col-lg-4 .icons-2::after {
    content: "";
    background: url(../img/staff-snake-solid.svg) center center no-repeat;
    position: absolute;
    height: 110px;
    width: 45px;
    left: 33px;
}
.section-6 .steps .dot {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color3);
    top: -83px;
    margin: 0px;
    z-index: 99999;
}
.section-6 .steps .dot::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0, 172, 177, 0.2);
    margin: 0px;
    z-index: 1;
    left: -52%;
    top: -52%;
}
.section-7 {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding-top: 150px;
    padding-bottom: 200px;
    background:  url('../img/home-team-banner.jpg')  center top no-repeat;
    position: relative;
}
.section-7 .bg-header {
    background: rgba(0, 89, 99, 0.5);
    z-index: 1;
}
.section-7 .container {
    position: relative;
    z-index: 2;
}
.section-7 .col-lg-12 span {
    color: var(--colorWhite);
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight5);
}
.section-7 .col-lg-12 h2 {
    color: var(--colorWhite);
    font-size: var(--fontSize8);
    font-weight: var(--fontWeight7);
    margin-bottom: 50px;
    line-height: 1.8;
}
.section-8, .section-9 {
    background-color: #fcf7ff;
}
.section-8 .team {
    position: relative;
    top: -180px;
    padding: 0px 20px;
}
.section-8 .col-lg-12 {
    box-shadow: 0 0 15px 5px rgb(0 0 0 / 2%);
}
.section-8 .col-lg-12 .imagedoctor {
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.section-8 .col-lg-12 img, .section-9 .box-2 img {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.section-8 .col-lg-12 img:hover, .section-9 .box-2 img:hover {
    transform: scale(1.1);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;    
}
.section-8 .col-lg-12 .description {
    padding: 20px;
    background-color: var(--colorWhite);
}
.section-8 .col-lg-12 .description h3 {
    color: var(--color5);
    font-size: var(--fontSize4);
    font-weight: var(--fontWeight7);
    line-height: 1.8;
}
.section-8 .col-lg-12 .description p {
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight5);
    color: var(--color6);
}
.section-8 .col-lg-12 .description span {
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight5);
    color: var(--color6);
    margin-left: 20px;
}
.section-8 .col-lg-12 .description span::before {
    content: "";
    background: url(../img/location-dot-solid.svg) center center no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 20px;
    bottom: 24px;
}
.section-9 {
    padding-bottom: 100px;
    margin-top: -100px;
}
.section-9 .box-2 {
    background-color: var(--colorWhite);
    padding: 30px;
}
.section-9 .box-2 img {
    border-radius: 6px;
}
.section-9 .box-2 .imagedoctor {
    overflow: hidden;
    border-radius: 6px;
}
.section-9 .btn-3 {
    text-decoration: none;
    color: var(--colorWhite);
    text-transform: uppercase;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
    background-color: var(--color3);
    padding: 10px 35px;
    border-radius: 20px;
    position: relative;
    bottom: 17px;
    right: -160px;
}
.section-9 .col-lg-4 .btn-3::after {
    content: "";
    background: url(../img/calendar-days-regular.svg) center center no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 15px;
    bottom: 14px;
}
.section-9 .col-lg-4 .category a {
    text-decoration: none;
    color: var(--color6);
    text-transform: uppercase;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight5);
    margin-right: 50px;
    position: relative;
    margin-bottom: 15px;
}
.section-9 .hill-icon::before {
    content: "";
    background: url(../img/circle-user-regular.svg) center center no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    left: -25px;
    bottom: 3px;
}
.section-9 .health-icon::before {
    content: "";
    background: url(../img/folder-open-regular.svg) center center no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    left: -25px;
    bottom: 3px;
}
.section-9 .col-lg-4 .undertitle .title-1 {
    color: var(--color5)!important;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-size: var(--fontSize5);
    font-weight: var(--fontWeight7)!important;
    margin-bottom: 10px;
}
.section-9 .col-lg-4 .undertitle .title-1:hover {
    color: var(--color3)!important;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.section-9 .col-lg-4 .undertitle a {
    text-decoration: none;
    color: var(--color4);
    font-weight: var(--fontWeight5);
}
.section-9 .col-lg-4 .undertitle a:hover {
    color: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; 
}
.section-10 {
    margin-top: 100px;
}
.section-10 .col-lg-4 .box-3 {
    background-color: #fcf7ff;
    padding: 40px 60px;
}
.section-10 .col-lg-4 .box-3 p {
    margin-top: 20px;
}
.section-10 .col-lg-4 .box-3 h3 {
    color: var(--color5);
    font-size: var(--fontSize4);
    font-weight: var(--fontWeight7);
    margin-top: 20px;
}
.section-11 {
    margin-top: 100px;
    margin-bottom: -100px;     
}
.section-11 img {
    width: 20%;
    height: auto;
    margin-right: 5px;
}
.section-12 {
    background-color: #fcf7ff;
}
.section-12 .col-lg-12 {
    margin-top: 170px;
}
.section-12 .col-lg-12 .label {
    background-color: var(--colorWhite);
    border-radius: 10px;
    -webkit-box-shadow: 9px 62px 100px -39px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 62px 100px -39px rgba(66, 68, 90, 1);
    box-shadow: 9px 62px 100px -39px rgba(66, 68, 90, 1);
    padding: 20px 200px;
}
.section-12 .col-lg-12 .label p {
    margin-bottom: 0px;
    margin-top: 5px;
}
.section-12 .col-lg-4 {
    position: relative;
}
.section-12 .col-lg-4 .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.5px solid rgba(0, 172, 177, 0.2);
    position: absolute;
    left: -25px;
    top: 5px;
}
.section-12 .col-lg-4 .circle::before {
    content: "";
    background: url(../img/location-dot-solid.svg) center center no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 17px;
    top: 15px;
}
.section-12 .col-lg-4 .description {
    
    margin-left: 40px;
}
footer {
    background-color: #fcf7ff;
}
footer .footer-top {
    padding-top: 70px;
}
footer .firstcol p {
    color: var(--color6);
}
footer .firstcol ul {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
}
footer .firstcol ul li {
    list-style: none;
    position: relative;
}
footer .firstcol ul li span {
    border: solid 1px rgba(0, 172, 177, 0.1);
    border-radius: 50%;
    padding: 10px 20px;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    margin-right: 20px;
}
footer .firstcol ul li span:hover {
    background-color: var(--color2);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
footer .firstcol ul li a::after {
    content: "";
    background: url(../img/facebook-f.svg) center center no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 13px;
    top: 5px;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
footer .firstcol ul li span:hover > footer .firstcol ul li a::after {
    content: "";
    background: url(../img/facebook-f-white.svg) center center no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 13px;
    top: 5px;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.footer-top h3 {
    font-size: var(--fontSize4);
    color: var(--color5);
    font-weight: var(--fontWeight7);
    margin-bottom: 20px;
}
.footer-top ul {
    padding: 0px;
}
.footer-top ul li {
    list-style: none;
}
.footer-top a {
    text-decoration: none;
    color: var(--color6);
    font-size: var(--fontSize2);
    font-weight: var(--fontWeight4);
    margin-bottom: 15px;
}
.footer-top a:hover {
    color: var(--color3);
}
.footer-top .col-lg-3:nth-child(2) {
    padding-left: 100px;
}
.footer-top .col-lg-3:nth-child(3) {
    padding-left: 100px;
}
.footer-top input {
    padding: 20px!important;
}
.footer-top .btn-1 {
    text-decoration: none;
    color: var(--colorWhite);
    text-transform: uppercase;
    font-size: var(--fontSize1);
    font-weight: var(--fontWeight7);
    background-color: var(--color3);
    padding: 20px 115px;
    border-radius: 6px;
    box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
    margin-top: 10px;
}
.footer-top .btn-1:hover {
    background-color: var(--color4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.footer-bottom {
    padding-top: 50px;
    padding-bottom: 30px;
    border-top: 2px solid var(--color20);
}
.footer-bottom .col-lg-6 p {
    color: var(--color6);
}
.footer-bottom .col-lg-6 span {
    color: var(--color3);
}
.footer-bottom .col-lg-6 a {
    text-decoration: none;
    color: var(--color6);
    margin-right: 10px;
    padding-right: 10px;
}
.footer-bottom .col-lg-6 a:hover {
    color: var(--color3);
}
.footer-bottom .col-lg-6:nth-child(2) {
    text-align: end;
}
.footer-bottom .col-lg-6 a:nth-child(1) {
    border-right: 2px solid #999b9f;
}
.footer-bottom .col-lg-6 a:nth-child(2) {
    border-right: 2px solid #999b9f;
}
.footer-bottom .col-lg-6 a:nth-child(3) {
    border-right: 2px solid #999b9f;
}
.display-mobile {
    display: none;
}
.display-desktop {
    display: block;
}
/*Rozdzielczośc dla laptopów */
@media (max-width: 1399.98px) {
    header h1 {
        padding: 0px 200px;
    }
    .section-1 .col-lg-2 {
        padding: 15px;
    }
    .section-2 .col-lg-6:nth-child(1) {
        padding: 0px 55px;
    }
    .section-2 .col-lg-6 .second-photo {
        left: 135px;
        bottom: 85px;
    }
}
/*Rozdzielczośc dla tabletów / laptopów  */
@media (max-width: 1199.98px) {
    .navbar ul li a {
        margin-right: 20px;
    }
    .container-fluid {
        padding: 0px 50px;
    }
    .navbar .btn-1 {
        display: none;
    }
    header h1 {
        font-size: var(--fontSize8)!important;
        padding: 0px 90px!important;
    }
    .section-1 .container {
    margin-top: 40px;
    }
    .section-1 .col-lg-4 {
        margin-top: 70px;
        width: 45.333333%;
    }
    .section-2 .container {
        padding-top: 70px;
        padding-bottom: 260px;
    }
    .section-2 .col-lg-6 {
        width: 100%;
    }
    .section-2 .col-lg-6 .first-photo {
        width: 35%;
    }
    .section-2 .col-lg-6 .second-photo {
        width: 35%;
        left: 125px;
        bottom: -130px;
    }
}
/*Rozdzielczośc dla tabletów */
@media (max-width: 991.98px) {
    .navbar-toggler-icon {
        background: url(../img/bars-solid.svg) center center no-repeat;
    }
    .text-end {
        margin-left: 145px;
    }
    header h1 {
        font-size: var(--fontSize8)!important;
        padding: 0px 90px!important;
    }
    .section-2 .col-lg-6 .first-photo {
        width: 45%;
    }
    .section-2 .col-lg-6 .second-photo {
        width: 45%;
        left: 125px;
        bottom: -130px;
    }
    
}
/*Rozdzielczośc dla telefonów - poziomo */
@media (max-width: 767.98px) {
    .nav-top {
        display: none;
    }
    #navbar {
        top: 0px;
    }
    .section-1 .col-lg-4 {
        margin-top: 70px;
        width: 100%;
    }
    .section-2 .container {
        padding-bottom: 160px;
    }
    .section-2 .col-lg-6:nth-child(1) {
        padding: 0px 0px;
    }
    .section-2 .col-lg-6 h2 {
        font-size: var(--fontSize6);
        font-weight: var(--fontWeight7);
    }
    .section-2 .col-lg-6 .first-photo {
        width: 70%;
    }
    .section-2 .col-lg-6 .second-photo {
        display: none;
    }
}
/*Rozdzielczośc dla telefonów - pionowo */
@media (max-width: 575.98px) {

}